.blog-image{
  width: 100%;
  height: 100px;
}
.blog-details img{
  width: 100%;
  height: 400px;
}
.blog-item{
  margin-top: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
a.blog{
  text-decoration: none;
}
.wrapper {
  position: relative;
}
.loader {
  width: 100%;
  position: absolute;
  background: black;
  opacity: 0.3;
  height: 78%;
  top: 12.5%;
  left: 0%;
}
/* Small devices (tablets, 768px ) */
@media (max-width: 768px) { 
  .blog-image{
    width: 100%;
    height: 400px;
  }
  .blog-item-image{
    width: 100%;
    height: 400px;
  }

}

@media (max-width: 425px) { 
  .blog-image{
    width: 100%;
    height: 300px;
  }
  .blog-item-image{
    width: 100%;
    height: 400px;
  }
}
